[submodule "kol/tvm_mlir_learn"]
	path = kol/tvm_mlir_learn
	url = git@github.com:BBuf/tvm_mlir_learn.git
[submodule "gallery/mlc_learn"]
	path = gallery/mlc_learn
	url = git@github.com:janefreew/mlc_learn.git
